[submodule "tools/poky"]
	path = tools/poky
	url = git://git.yoctoproject.org/poky
	branch = sumo
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = sumo
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = sumo
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = sumo
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = sumo
[submodule "layers/meta-rpi"]
	path = layers/meta-rpi
	url = git://github.com/jumpnow/meta-rpi
	branch = sumo
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "meta-qcom"]
	path = meta-qcom
	url = https://github.com/ndechesne/meta-qcom.git
[submodule "layers/meta-qcom"]
	path = layers/meta-qcom
	url = https://github.com/ndechesne/meta-qcom.git
[submodule "layers/meta-rpb"]
	path = layers/meta-rpb
	url = https://github.com/96boards/meta-rpb.git
[submodule "layers/meta-browser"]
	path = layers/meta-browser
	url = https://github.com/OSSystems/meta-browser.git
[submodule "layers/meta-linaro"]
	path = layers/meta-linaro
	url = https://git.linaro.org/openembedded/meta-linaro.git
[submodule "meta-backports"]
	path = meta-backports
	url = https://git.linaro.org/openembedded/meta-backports.git
[submodule "layers/meta-96boards"]
	path = layers/meta-96boards
	url = https://github.com/96boards/meta-96boards.git
[submodule "layers/meta-backports"]
	path = layers/meta-backports
	url = https://git.linaro.org/openembedded/meta-backports.git
[submodule "layers/meta-st-cannes2"]
	path = layers/meta-st-cannes2
	url = https://github.com/cpriouzeau/meta-st-cannes2.git
[submodule "layers/meta-intel"]
	path = layers/meta-intel
	url = https://git.yoctoproject.org/git/meta-intel
[submodule "layers/meta-ti"]
	path = layers/meta-ti
	url = https://git.yoctoproject.org/git/meta-ti
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://git.yoctoproject.org/git/meta-virtualization
[submodule "layers/meta-clang"]
	path = layers/meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://github.com/openembedded/bitbake.git
